<Key>END: EraseEOF()
<Key>PPAGE: PF(7)
<Key>NPAGE: PF(8)
<Key>Delete: Erase()
Ctrl<Key>q: Attn()
Ctrl<Key>a <Key>x: Exit(-force)
Ctrl<Key>a <Key>h: MoveCursor(5,22)
Ctrl<Key>a <Key>m: MoveCursor(31,22)
Ctrl<Key>a <Key>l: MoveCursor(57,22)
Ctrl<Key>a <Key>1: Macro(swap1)
Ctrl<Key>a <Key>2: Macro(swap2)
Ctrl<Key>a <Key>3: Macro(swap3)
Ctrl<Key>a <Key>4: Macro(swap4)
Ctrl<Key>a <Key>5: Macro(swap5)
