<Key>END: EraseEOF()
<Key>PPAGE: PF(7)
<Key>NPAGE: PF(8)
<Key>Delete: Erase()
Ctrl<Key>q: Attn()
Ctrl<Key>c: Pause()
Ctrl<Key>c <Key>s: Script(-async,-nolock,sessionselect-tmux)
Ctrl<Key>c <Key>p: Script(-async,-nolock,psc-tmux)
Ctrl<Key>c <Key>d: Script(-async,-nolock,listds-tmux)
Ctrl<Key>c <Key>c: Script(-async,-nolock,dsutil-tmux)
Ctrl<Key>c <Key>x: Exit(-force)
Ctrl<Key>c <Key>h: MoveCursor(5,22)
Ctrl<Key>c <Key>m: MoveCursor(31,22)
Ctrl<Key>c <Key>l: MoveCursor(57,22)
Ctrl<Key>c <Key>1: Macro(swap1)
Ctrl<Key>c <Key>2: Macro(swap2)
Ctrl<Key>c <Key>3: Macro(swap3)
Ctrl<Key>c <Key>4: Macro(swap4)
Ctrl<Key>c <Key>5: Macro(swap5)
Ctrl<Key>c <Key>v: Macro(psc)
