Ctrl<Key>q: PreviousWord()
Ctrl<Key>e: NextWord()
<Key>END: EraseEOF()
<Key>PPAGE: PF(7)
<Key>NPAGE: PF(8)
Ctrl<Key>q: Attn()
Ctrl<Key>a <Key>q: PF(10)
Ctrl<Key>a <Key>e: PF(11)
Ctrl<Key>a <Key>h: MoveCursor(5,42)
Ctrl<Key>a <Key>m: MoveCursor(31,42)
Ctrl<Key>a <Key>l: MoveCursor(57,42)
Ctrl<Key>a <Key>1: Macro(swap1)
Ctrl<Key>a <Key>2: Macro(swap2)
Ctrl<Key>a <Key>3: Macro(swap3)
Ctrl<Key>a <Key>4: Macro(swap4)
Ctrl<Key>a <Key>5: Macro(swap5)
